/* CABEÇALHO */
.index_menu {
    position: fixed;
    top: 30px;
    left: 25px;
    width: 250px;
   /*  border: 2px solid white; */
    background-color: var(--cor7);
    border-radius: 35px;
    
}



.menu {
    display: flex;
    justify-content: space-around;
    flex-direction: column;
    align-items: center;
}

.topcis {
    text-decoration: none;
    color: var(--cor4);
    font-size: 20px;
    font-family: var(--font3);
    margin: 30px 0;
}

/* .aparecerMenu{
    visibility: visible;
  }
  .tirarMenu{
    display: none;
  }  */

  .container_buttom_close{
    position: relative;
    top: 0px;
    left: 0px
}

.buttom_close{
    background-color: var(--cor7);
    height: 50px;
    width: 100px;
    color: var(--cor4);
    border-radius: 40px;
    font-size: 15px;
    border: none;

}
.display_dentro{
    display: visible;
}

.display_fora{
   
    visibility: hidden;
}
