/* Hamburguer */
.container_buttom{
    display: flex;
    flex-direction: column;
    width: min-content; 
    padding: 30px;
    margin: 0px;
   /*  background-color: green; */
    
}
.menu_burger {
    width: 30px;
    height: 5px;
    margin: 2px;
    border:  solid 2px #ebebf0;
    border-radius: 5px;
    background-color: #ebebf0;
    cursor: pointer;
}
button{
  background: none ;
  border: none;
}
.visibilidadeN{
  visibility: hidden;
}
.visibilidadeOK{
  display:visible;
}

/* Menu */
.index_menu {
  position: fixed;
  top: 0px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 15vw;
  height: 100vh;
  background-color: var(--cor7);
  animation-name: transition;
  animation-duration: 5s;
}
.container_contatos{

  height: 50vh;
}
.menu_um{
  height: 50%;
}
.image_perfil_{
  width: 100%; 
  height: 200px;
  border-radius: 30px; 
  /* border: 0.5px solid gray; */
  box-shadow: 5px 5px 5px black;
  margin-top: 5vh;
}
@keyframes transition {

  0%{
    transform: translateX(-20vw);
  }
   100%{
    transform: translateX(0vw);
  }
 /*  from{
    left: -30vw;
  }
  to {
    left: 0px;
  } */
 }

 @media screen and (min-width: 280px) and (max-width: 900px) {
	.index_menu {
    width: 50vw;
    height: 100vh;
	}
}
.menu {
  display: flex;
  justify-content: space-around;
  flex-direction: column;
  align-items: center; 
}
.topcis {
  text-decoration: none;
  color: var(--cor4);
  font-size: 20px;
  font-family: var(--font4);
  margin: 15px 0;
}
.container_buttom_close{
  position: relative;
  top: 0px;
  left: 0px
}
.buttom_close{
  margin: 27px 0px 20px 30px;
  height: 38px;
  width: 38px;
}
.topciss{
  text-decoration: none;
  color:black;
  font-weight: bold;
  font-size: 20px;
  font-family: var(--font3);
  margin: 30px 0;
  text-align: center;
}
.footer-container-item p{
  color: white;
  font-weight: 600;
  margin-top: 10%;
}
.logo_footer{
  width: 40px;
  height: 40px;
}



