.tela_home {
    background-image: url('../../../public/assets/img/image_fundo.jpg');
    background-size: cover; 
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: flex-start;
}
.content_home_content_{
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-weight: 100;
}
.section{
    margin-bottom: 120px ;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

