.container_footer{
    background-color:var(--cor6) ;
}
.footer-container-item{
    display: grid;
    grid-template-columns: auto auto;
    justify-content: center;
    gap: 20px;
}
.footer-credit{
    font-family: var(--font4);
    margin-bottom: 20px;
}








 