.content_title{
    font-size: 35px;
    width: 80%;
    text-align:center;
    padding: 30px;
}
.content_description{
    font-size: 25px;
    text-align:center;
    width: 80%;
}
.content_description_second{
    font-size: 20px;
}
.section_sobre{
    height: auto;
    width:auto;
    /* margin: 0px 100px; */
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center; 
}
.content_home_content_about{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-weight: 100;
}
.person{
    width: 35%;
    height: 100%;
}
.image_perfil_{
    width: 300px;
    height: 400px;
}

@media (max-width:480px) { 
    .content_description{
        font-size: 15px;
        text-align: justify;
    }
     .image_perfil_{
        width: auto ;
        height: 50vh;
    }
    .content_title{
        font-size: 25px;
        text-align: justify;
    } 
}
@media (max-width:600px) { 
     .section_sobre{
        flex-direction: column;
        margin: auto;
     }
     .person{
        width: auto ;
        height: auto;
     }
     .content_description{
        font-size: 20px;
        text-align: justify;
    }
    .content_title{
        font-size: 30px;
        text-align: justify;
    } 
     
    }
@media (max-width:801px) { 
    /* tablet, landscape iPad, lo-res laptops ands desktops */ 
    .section_sobre{
        flex-direction: column;
        margin: auto;
     }
     .person{
        width: auto ;
        height: auto;
     }
     .content_description{
        font-size: 20px;
        text-align: justify;
    }
    .content_title{
        font-size: 30px;
        text-align: justify;
    } 
}
@media (max-width:1025px) {
     /* big landscape tablets, laptops, and desktops */ 
    }
@media (max-width:1281px) {
     /* hi-res laptops and desktops */ 
    }